.span-2
  %img{:src => '/sheephead.gif'}
.span-21.last
  %h2.banner TweetClone
%h1.comic  Uh oh! Something's not right!
  
.span-20.error.last
  %h3.comic
    =@error

.span-20.last 
  %a{:href => '/'} go back home page 