.span-2
  %img{:src => '/sheephead.gif'}
.span-12
  %a{:href => '/'}
    %h2.banner TweetClone
.span-4.prepend-3.last
  %a{:href => '/'} [ home ] 
  %a{:href => '/profile'} [ profile ] 
  %a{:href => '/logout'} [ logout ]